files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-568
            rewrite ^/program-overview/?$ https://$host/addiction-treatment-new-jersey/ permanent;
            rewrite ^/program-overview/levels-of-care/?$ https://$host/addiction-treatment-new-jersey/levels-of-care/ permanent;
            rewrite ^/program-overview/therapy-types/?$ https://$host/addiction-treatment-new-jersey/therapy-types/ permanent;
            rewrite ^/program-overview/aftercare/?$ https://$host/addiction-treatment-new-jersey/aftercare/ permanent;
            rewrite ^/facility/?$ https://$host/addiction-treatment-new-jersey/facility/ permanent;
            rewrite ^/facility/features-amenities/?$ https://$host/addiction-treatment-new-jersey/features-amenities/ permanent;
            rewrite ^/admissions/?$ https://$host/addiction-treatment-new-jersey/admissions/ permanent;
            rewrite ^/admissions/what-to-expect/?$ https://$host/addiction-treatment-new-jersey/what-to-expect/ permanent;
            rewrite ^/payment-options/?$ https://$host/addiction-treatment-new-jersey/payment-options/ permanent;
            rewrite ^/resource-center/?$ https://$host/addiction-resources-center/ permanent;
            #FACILITY-305
            rewrite ^/treatment-services/?$ https://$host/program-overview/levels-of-care/ permanent;
            rewrite ^/treatment-services/levels-of-care/?$ https://$host/addiction-treatment-new-jersey/levels-of-care/ permanent;
            rewrite ^/treatment-services/therapy-types/?$ https://$host/program-overview/therapy-types/ permanent;
            rewrite ^/treatment-services/aftercare/?$ https://$host/program-overview/aftercare/ permanent;
            #FACILITY-752
            rewrite ^/what-to-expect/families/after-rehab/?$ https://$host/addiction-treatment-new-jersey/what-to-expect/families/after-rehab/ permanent;
            rewrite ^/addiction-recovery-program-overview/therapy-types/pet-therapy/?$ https://$host/addiction-treatment-new-jersey/therapy-types/pet-therapy/ permanent;
            rewrite ^/admissions/what-to-expect/families/?$ https://$host/addiction-treatment-new-jersey/what-to-expect/families/ permanent;
            #FACILITY-917
            rewrite ^/addiction-treatment-new-jersey/what-to-expect/?$ https://$host/addiction-treatment-new-jersey/admissions/ permanent;
            #FACILITY-1088
            rewrite ^/hippa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-1735
            rewrite ^/benzodiazepines/limbitrol/?$ https://$host/benzodiazepines/ permanent;
            rewrite ^/benzodiazepines/zolpidem-ambien/?$ https://$host/prescription-drug-addiction-recovery/zolpidem-ambien/ permanent;
            #FACILITY-2705
            rewrite ^/blog/$ https://$host/addiction-blog/ permanent;
            rewrite ^/addiction-blog/tag/$ https://$host/blog/tag/ permanent;
            #FACILITY-3199
            rewrite ^/stop-drinking-alcohol/history-wine/?$ https://$host/stop-drinking-alcohol/history-liquor/ permanent;
            rewrite ^/stop-drinking-alcohol/history-beer/?$ https://$host/stop-drinking-alcohol/history-liquor/ permanent;
            rewrite ^/stop-drinking-alcohol/chronic-functioning-alcoholics/?$ https://$host/stop-drinking-alcohol/types-alcoholics/ permanent;
            rewrite ^/stop-drinking-alcohol/wet-brain-alcoholic/?$ https://$host/stop-drinking-alcohol/wet-brain-wernicke-korsakoff/ permanent;
            rewrite ^/stop-drinking-alcohol/cirrhosis-liver/?$ https://$host/stop-drinking-alcohol/long-term-health-damage/ permanent;
            #FACILITY-3754
            rewrite ^/contributor/?$ https://$host/contributors/ permanent;
            #FACILITY-4202
            rewrite ^/prescription-opiates/oxycontin-oxycodone/?$ https://$host/prescription-opiates/oxycodone/methods-of-use/ permanent;
            rewrite ^/prescription-opiates/oxycontin/?$ https://$host/prescription-opiates/oxycodone/methods-of-use/ permanent;
            rewrite ^/prescription-opiates/carfentanil/?$ https://$host/prescription-opiates/fentanyl/ permanent;
            rewrite ^/cause-effect/most-addictive-dangerous-opiates/?$ https://$host/heroin-addiction-treatment/ permanent;
            rewrite ^/prescription-opiates/opana-oxymorphone/?$ https://$host/prescription-opiates/ permanent;
            rewrite ^/blog/new-jersey-expands-role-of-paramedics-for-opioid-victims/?$ https://$host/northeast-addiction-treatment-guide/narcan-naloxone/ permanent;
            rewrite ^/blog/governor-christie-trump-declare-national-state-emergency-fight-opioid-crisis/?$ https://$host/northeast-addiction-treatment-guide/narcan-naloxone/ permanent;
            #FACILITY-4491
            rewrite ^/blog/hydromorphone-viable-option-heroin-addiction-treatment/?$ https://$host/heroin-addiction-treatment/ permanent;
            rewrite ^/blog/24k-heroin-seized-nj-drug-bust/?$ https://$host/heroin-addiction-treatment/ permanent;
            rewrite ^/blog/heroin-packets-found-in-lunchbox/?$ https://$host/heroin-addiction-treatment/ permanent;
            rewrite ^/blog/heroin-packets-nj-kindergarteners-lunchbox/?$ https://$host/heroin-addiction-treatment/ permanent;
            rewrite ^/heroin-addiction-treatment/methadone-suboxone/?$ https://$host/heroin-addiction-treatment/methadone/ permanent;
            rewrite ^/heroin-addiction-treatment/phases-withdrawal/?$ https://$host/heroin-addiction-treatment/methadone/ permanent;
            rewrite ^/heroin-addiction-treatment/suboxone-subutex/?$ https://$host/heroin-addiction-treatment/methadone/ permanent;
